datadir="/var/lib/proxysql"

admin_variables=
{
    admin_credentials="admin:admin;mtdev:5adere005"
    mysql_ifaces="0.0.0.0:6032"
    refresh_interval=2000
    stats_credentials="stats:admin"
}

mysql_variables=
{
    threads=4
    max_connections=2048
    default_query_delay=0
    default_query_timeout=36000000
    have_compress=true
    poll_timeout=2000
    interfaces="0.0.0.0:6033;/tmp/proxysql.sock"
    default_schema="information_schema"
    stacksize=1048576
    server_version="8.0"
    connect_timeout_server=10000
    monitor_history=60000
    monitor_connect_interval=200000
    monitor_ping_interval=200000
    ping_interval_server_msec=10000
    ping_timeout_server=200
    commands_stats=true
    sessions_sort=true
    monitor_username="monitor"
    monitor_password="monitor"
}

mysql_servers =
(
    {   
        hostgroup_id=1, 
        hostname="10.0.1.25", 
        port=28253, 
        weight=1, 
        max_connections=100, 
        max_replication_lag=10, 
        use_ssl=1,
        comment="Server 1"
    },
    {   
        hostgroup_id=2, 
        hostname="10.0.1.16", 
        port=20361, 
        weight=1, 
        max_connections=100, 
        max_replication_lag=10, 
        use_ssl=1,
        comment="Server 2"
    }
)

# User definitions
mysql_users =
(
    {
        username="root",
        password="0003b166e5",
        default_hostgroup=1,
        active=1,
        max_connections=100,
        default_schema="tinydb"
    },
    {
        username="59308f9ac60b1dbd",
        password="95bd593661806b76",
        default_hostgroup=2,
        active=1,
        max_connections=100,
        default_schema="tinydb"
    },
    {
        username="59308f9ac60b1dbd",
        password="95bd593661806b76",
        default_hostgroup=2,
        active=1,
        max_connections=100,
        default_schema="tinydb"
    }
)

# Query rules
mysql_query_rules =
(
    {
        rule_id=1
        active=1
        match_pattern="^SELECT .* FOR UPDATE"
        destination_hostgroup=1
        apply=1
    },
    {
        rule_id=2
        active=1
        match_pattern="^SELECT .*"
        destination_hostgroup=2
        apply=1
    },
    {
        rule_id=3
        active=1
        match_pattern=".*"
        destination_hostgroup=1
        apply=1
    }
)
